
<div class="container">
  <h1 class="more">Place Your Input Here</h1>
</div>

<form action="/submit" method="POST">
    <div class="container">
      <div class="row">
        <input type="number" min="1" max="9" placeholder="_" id="mat00" name="mat00">
        <input type="number" min="1" max="9" placeholder="_" id="mat01" name="mat01">
        <input type="number" min="1" max="9" placeholder="_" id="mat02" name="mat02" class="break3">
    
        <input type="number" min="1" max="9" placeholder="_" id="mat03" name="mat03">
        <input type="number" min="1" max="9" placeholder="_" id="mat04" name="mat04">
        <input type="number" min="1" max="9" placeholder="_" id="mat05" name="mat05" class="break3">
        
        <input type="number" min="1" max="9" placeholder="_" id="mat06" name="mat06">
        <input type="number" min="1" max="9" placeholder="_" id="mat07" name="mat07">
        <input type="number" min="1" max="9" placeholder="_" id="mat08" name="mat08">
      </div>
    
      <div class="row">
        <input type="number" min="1" max="9" placeholder="_" id="mat10" name="mat10">
        <input type="number" min="1" max="9" placeholder="_" id="mat11" name="mat11">
        <input type="number" min="1" max="9" placeholder="_" id="mat12" name="mat12" class="break3">
    
        <input type="number" min="1" max="9" placeholder="_" id="mat13" name="mat13">
        <input type="number" min="1" max="9" placeholder="_" id="mat14" name="mat14">
        <input type="number" min="1" max="9" placeholder="_" id="mat15" name="mat15" class="break3">
        
        <input type="number" min="1" max="9" placeholder="_" id="mat16" name="mat16">
        <input type="number" min="1" max="9" placeholder="_" id="mat17" name="mat17">
        <input type="number" min="1" max="9" placeholder="_" id="mat18" name="mat18">
      </div>
    
      <div class="row">
        <input type="number" min="1" max="9" placeholder="_" id="mat20" name="mat20">
        <input type="number" min="1" max="9" placeholder="_" id="mat21" name="mat21">
        <input type="number" min="1" max="9" placeholder="_" id="mat22" name="mat22" class="break3">
    
        <input type="number" min="1" max="9" placeholder="_" id="mat23" name="mat23">
        <input type="number" min="1" max="9" placeholder="_" id="mat24" name="mat24">
        <input type="number" min="1" max="9" placeholder="_" id="mat25" name="mat25" class="break3">
        
        <input type="number" min="1" max="9" placeholder="_" id="mat26" name="mat26">
        <input type="number" min="1" max="9" placeholder="_" id="mat27" name="mat27">
        <input type="number" min="1" max="9" placeholder="_" id="mat28" name="mat28">
      </div>
      <br>
      <div class="row">
        <input type="number" min="1" max="9" placeholder="_" id="mat30" name="mat30">
        <input type="number" min="1" max="9" placeholder="_" id="mat31" name="mat31">
        <input type="number" min="1" max="9" placeholder="_" id="mat32" name="mat32" class="break3">
    
        <input type="number" min="1" max="9" placeholder="_" id="mat33" name="mat33">
        <input type="number" min="1" max="9" placeholder="_" id="mat34" name="mat34">
        <input type="number" min="1" max="9" placeholder="_" id="mat35" name="mat35" class="break3">
        
        <input type="number" min="1" max="9" placeholder="_" id="mat36" name="mat36">
        <input type="number" min="1" max="9" placeholder="_" id="mat37" name="mat37">
        <input type="number" min="1" max="9" placeholder="_" id="mat38" name="mat38">
      </div>
    
      <div class="row">
        <input type="number" min="1" max="9" placeholder="_" id="mat40" name="mat40">
        <input type="number" min="1" max="9" placeholder="_" id="mat41" name="mat41">
        <input type="number" min="1" max="9" placeholder="_" id="mat42" name="mat42" class="break3">
    
        <input type="number" min="1" max="9" placeholder="_" id="mat43" name="mat43">
        <input type="number" min="1" max="9" placeholder="_" id="mat44" name="mat44">
        <input type="number" min="1" max="9" placeholder="_" id="mat45" name="mat45" class="break3">
        
        <input type="number" min="1" max="9" placeholder="_" id="mat46" name="mat46">
        <input type="number" min="1" max="9" placeholder="_" id="mat47" name="mat47">
        <input type="number" min="1" max="9" placeholder="_" id="mat48" name="mat48">
      </div>
    
      <div class="row">
        <input type="number" min="1" max="9" placeholder="_" id="mat50" name="mat50">
        <input type="number" min="1" max="9" placeholder="_" id="mat51" name="mat51">
        <input type="number" min="1" max="9" placeholder="_" id="mat52" name="mat52" class="break3">
    
        <input type="number" min="1" max="9" placeholder="_" id="mat53" name="mat53">
        <input type="number" min="1" max="9" placeholder="_" id="mat54" name="mat54">
        <input type="number" min="1" max="9" placeholder="_" id="mat55" name="mat55" class="break3">
        
        <input type="number" min="1" max="9" placeholder="_" id="mat56" name="mat56">
        <input type="number" min="1" max="9" placeholder="_" id="mat57" name="mat57">
        <input type="number" min="1" max="9" placeholder="_" id="mat58" name="mat58">
      </div>
      <br>
    
      <div class="row">
        <input type="number" min="1" max="9" placeholder="_" id="mat60" name="mat60">
        <input type="number" min="1" max="9" placeholder="_" id="mat61" name="mat61">
        <input type="number" min="1" max="9" placeholder="_" id="mat62" name="mat62" class="break3">
    
        <input type="number" min="1" max="9" placeholder="_" id="mat63" name="mat63">
        <input type="number" min="1" max="9" placeholder="_" id="mat64" name="mat64">
        <input type="number" min="1" max="9" placeholder="_" id="mat65" name="mat65" class="break3">
        
        <input type="number" min="1" max="9" placeholder="_" id="mat66" name="mat66">
        <input type="number" min="1" max="9" placeholder="_" id="mat67" name="mat67">
        <input type="number" min="1" max="9" placeholder="_" id="mat68" name="mat68">
      </div>
    
      <div class="row">
        <input type="number" min="1" max="9" placeholder="_" id="mat70" name="mat70">
        <input type="number" min="1" max="9" placeholder="_" id="mat71" name="mat71">
        <input type="number" min="1" max="9" placeholder="_" id="mat72" name="mat72" class="break3">
    
        <input type="number" min="1" max="9" placeholder="_" id="mat73" name="mat73">
        <input type="number" min="1" max="9" placeholder="_" id="mat74" name="mat74">
        <input type="number" min="1" max="9" placeholder="_" id="mat75" name="mat75" class="break3">
        
        <input type="number" min="1" max="9" placeholder="_" id="mat76" name="mat76">
        <input type="number" min="1" max="9" placeholder="_" id="mat77" name="mat77">
        <input type="number" min="1" max="9" placeholder="_" id="mat78" name="mat78">
      </div>
    
      <div class="row">
        <input type="number" min="1" max="9" placeholder="_" id="mat80" name="mat80">
        <input type="number" min="1" max="9" placeholder="_" id="mat81" name="mat81">
        <input type="number" min="1" max="9" placeholder="_" id="mat82" name="mat82" class="break3">
    
        <input type="number" min="1" max="9" placeholder="_" id="mat83" name="mat83">
        <input type="number" min="1" max="9" placeholder="_" id="mat84" name="mat84">
        <input type="number" min="1" max="9" placeholder="_" id="mat85" name="mat85" class="break3">
        
        <input type="number" min="1" max="9" placeholder="_" id="mat86" name="mat86">
        <input type="number" min="1" max="9" placeholder="_" id="mat87" name="mat87">
        <input type="number" min="1" max="9" placeholder="_" id="mat88" name="mat88">
      </div>
    </div>
      <button type="submit" class="btn-submit">Submit your Sudoku</button>
    </form>