<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link rel="icon" href="./Images/favicon.ico">
  <title>Sudoku</title>
</head>
<body>
  <%- body %> 
  <footer>
    <center>
      <p class="Author">
        This Solver Is Made By Himanshu Kumar.
      </p>
    </center>
  </footer>
</body>
</html>